<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension id="MainApp" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.vast.stt.apps.Application"/>
      </application>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective name="Perspective" class="org.vast.stt.apps.Perspective" id="STT.Perspective"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view name="Bbox" class="org.vast.stt.gui.views.SpatialExtentView" id="STT.SpatialExtentView"/>
      <view name="Time" class="org.vast.stt.gui.views.TimeExtentView" id="STT.TimeExtentView"/>
      <view name="Master Time" class="org.vast.stt.gui.views.MasterTimeView" id="STT.MasterTimeView"/>
      <view name="Style" class="org.vast.stt.gui.views.SymbolizerView" id="STT.SymbolizerView"/>
      <!--<view name="CatalogView" class="org.vast.stt.gui.views.CatalogView" id="STT.CatalogView"/>-->
      <view name="CapabilitiesView" class="org.vast.stt.gui.views.CapabilitiesView" id="STT.CapabilitiesView"/>
      <view name="Data" class="org.vast.stt.gui.views.DataProviderView" id="STT.DataProviderView"/>
      <view name="Scene Tree" class="org.vast.stt.gui.views.SceneTreeView" id="STT.SceneTreeView"/>
      <view name="Scene Items" class="org.vast.stt.gui.views.SceneItemsView" id="STT.SceneItemsView"/>
      <view name="Scene" class="org.vast.stt.gui.views.WorldView" id="STT.WorldView"/>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor class="org.vast.stt.gui.views.ProjectEditor" default="false" extensions="stt" icon="src/icons/gear.gif" id="STT.ProjectEditor" name="Project Editor"/>
   </extension>
   <!--~~~~~~~~~~~~~~~~~~~-->
   <!-- Action Extensions -->
   <!--~~~~~~~~~~~~~~~~~~~-->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet id="STT.MenuBar" label="MenuBar" visible="true">
         <!-- Help Menu -->
         <menu id="STT.HelpMenu" label="&amp;Help">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.HelpMenu" id="STT.About" label="&amp;About..." menubarPath="STT.HelpMenu/projectGroup"/>
         <!-- Project Menu -->
         <menu id="STT.ProjectMenu" label="&amp;Project">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.OpenProject" label="&amp;Open Project..." menubarPath="STT.ProjectMenu/group1"/>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.OpenTestProject" label="&amp;Open Test Project..." menubarPath="STT.ProjectMenu/group1"/>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.SaveProject" label="&amp;Save Project..." menubarPath="STT.ProjectMenu/group1"/>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.CloseProject" label="&amp;Close Project..." menubarPath="STT.ProjectMenu/group1"/>
         <!-- View Menu -->
         <menu id="STT.ViewMenu" label="&amp;View">
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
         </menu>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.CloneScene1" label="Clone Scene1" menubarPath="STT.ViewMenu/group1"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.CloneScene2" label="Clone Scene2" menubarPath="STT.ViewMenu/group1"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ProjectLLA" label="LLA" menubarPath="STT.ViewMenu/group2" style="radio"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ProjectECEF" label="ECEF" menubarPath="STT.ViewMenu/group2" style="radio"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowWorldView" label="Show World View" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowSceneTreeView" label="Show Scene Tree" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowSceneItemsView" label="Show Scene Items" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowMasterTimeView" label="Show Master Time" menubarPath="STT.ViewMenu/group3"/>    
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowTimeExtentView" label="Show Time Options" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowSpatialExtentView" label="Show Bbox Options" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowSymbolizerView" label="Show Style Options" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowCapabilitiesView" label="Show Capabilities Options" menubarPath="STT.ViewMenu/group3"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ShowDataProviderView" label="Show Data Options" menubarPath="STT.ViewMenu/group3"/>
         <!-- File Menu -->
         <menu id="STT.FileMenu" label="&amp;File">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.FileMenu" id="STT.Exit" label="&amp;Exit" menubarPath="STT.FileMenu/group1"/>
      </actionSet>
   </extension>
   <extension id="STT3" point="org.eclipse.core.runtime.products">
      <product
            application="org.vast.STT.MainApp"
            name="Space Time Toolkit v3"/>
   </extension>
</plugin>
