<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension id="STT3" point="org.eclipse.core.runtime.products">
      <product
            application="org.vast.stt.main.MainApp"
            name="Space Time Toolkit v3.1">
         <property
               name="appName"
               value="Space Time Toolkit v3.1">
         </property>
         <property
               name="startupProgressRect"
               value="10,225,380,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension id="MainApp" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.vast.stt.apps.Application"/>
      </application>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective name="Perspective" class="org.vast.stt.apps.Perspective" id="STT.Perspective"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view name="Bbox" class="org.vast.stt.gui.views.SpatialExtentView" id="STT.SpatialExtentView"/>
      <view name="Time" class="org.vast.stt.gui.views.TimeExtentView" id="STT.TimeExtentView"/>
      <view name="Scene Time" class="org.vast.stt.gui.views.SceneTimeView" id="STT.SceneTimeView"/>
      <view name="Graphics" class="org.vast.stt.gui.views.SymbolizerView" id="STT.SymbolizerView"/>
      <view name="Catalog" class="org.vast.stt.gui.views.CatalogView" id="STT.CatalogView"/>
      <view name="Capabilities" class="org.vast.stt.gui.views.CapabilitiesView" id="STT.CapabilitiesView"/>
      <view name="Scene Tree" class="org.vast.stt.gui.views.SceneTreeView" id="STT.SceneTreeView"/>
      <view name="Scene Items" class="org.vast.stt.gui.views.SceneItemsView" id="STT.SceneItemsView"/>
      <view name="Scene" class="org.vast.stt.gui.views.WorldView" id="STT.WorldView"/>
      <view name="Pressure" class="org.vast.sttx.gui.views.PressureView" id="STT.PressureView"/>
      <view name="Running Jobs" class="org.eclipse.ui.ExtensionFactory:progressView" id="org.eclipse.ui.views.ProgressView"/>
      <view name="SPS" class="org.vast.stt.gui.views.SPSView" id="STT.SPSView"/>
      <view name="WPS_Demo" class="org.vast.sttx.gui.views.WPS_DemoView" id="STT.WPS_DemoView"/>
      <view name="Image" class="org.vast.stt.gui.views.ImageView" id="STT.ImageView"/>
      <!-- -->
      <view name="Table" class="org.vast.stt.gui.views.TableView" id="STT.TableView" allowMultiple="true"/>
      <view name="Chart" class="org.vast.stt.gui.views.ChartView" id="STT.ChartView" allowMultiple="true"/>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor class="org.vast.stt.gui.views.ProjectEditor" default="false" extensions="stt" icon="icons/gear.gif" id="STT.ProjectEditor" name="Project Editor"/>
   </extension>
   <!--~~~~~~~~~~~~~~~~~~~-->
   <!-- Action Extensions -->
   <!--~~~~~~~~~~~~~~~~~~~-->
   <extension point="org.eclipse.ui.actionSets">
      <actionSet id="STT.MenuBar" label="MenuBar" visible="true">
         <!-- Help Menu -->
         <menu id="STT.HelpMenu" label="&amp;Help">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.HelpMenu" id="STT.About" label="&amp;About..." menubarPath="STT.HelpMenu/group1"/>
         <action class="org.vast.stt.actions.UpdateMenu" id="STT.Update" label="&amp;Updates..." menubarPath="STT.HelpMenu/group1"/>
         <!-- Project Menu -->
         <menu id="STT.ProjectMenu" label="&amp;Project">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.OpenProject" label="&amp;Open Project..." menubarPath="STT.ProjectMenu/group1"/>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.SaveProject" label="&amp;Save Project..." menubarPath="STT.ProjectMenu/group1"/>
         <action class="org.vast.stt.actions.ProjectMenu" id="STT.CloseProject" label="&amp;Close Project..." menubarPath="STT.ProjectMenu/group1"/>
         <!-- View Menu -->
         <menu id="STT.ViewMenu" label="&amp;View">
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
         </menu>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.CloneScene1" label="Clone Scene1" menubarPath="STT.ViewMenu/group1"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.CloneScene2" label="Clone Scene2" menubarPath="STT.ViewMenu/group1"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ProjectLLA" label="LLA" menubarPath="STT.ViewMenu/group2" style="radio"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ProjectECEF" label="ECEF" menubarPath="STT.ViewMenu/group2" style="radio"/>
         <action class="org.vast.stt.actions.ViewMenu" id="STT.ProjectMERC" label="Mercator" menubarPath="STT.ViewMenu/group2" style="radio"/>
         <!-- File Menu -->
         <menu id="STT.FileMenu" label="&amp;File">
            <separator name="group1"/>
         </menu>
         <action class="org.vast.stt.actions.FileMenu" id="STT.Exit" label="&amp;Exit" menubarPath="STT.FileMenu/group1"/>
      </actionSet>
   </extension>   
</plugin>
